/* Réinitialisation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(#000000, #111111);
  color: #f2f2f2;
  font-size: 250px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Barre du haut */
header {
  background: #111;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #222;
}

/* Logo */
.logo {
  height: 60px;
  width: auto;
  object-fit: contain;
}

/* Menu navigation */
nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 20px;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

/* Contenu principal */
main {
  flex: 1;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto; /* centre horizontalement */
  padding: 3rem 2rem;
  text-align: left; /* un peu à gauche */
}


h1, h2 {
  font-size: 32px;
  margin-bottom: 1rem;
}

p, li {
  font-size: 18px;
  line-height: 1.6;
}

ul, ol {
  margin-top: 1rem;
  padding-left: 1.5rem;
}

/* Bouton générique */
.btn {
  display: inline-block;
  margin: 1rem 1rem 0 0;
  padding: 0.7rem 1.2rem;
  background: #444;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}
